{% extends "layout.html" %}
{% block content %}

<p>My name is Marcus Dallum, I am an IT Manager for <a href="https://www.arkdna.com/"> arc data centers </a> and live in northern MN. Blog posts will mostly 
revolve around tech but there may be a sprinkle of some of my other interests. My goal for this blog is to improve my writing 
skills, get better at web/app development and maybe have a place to keep things I completely forget about! </p>

<p> If you want to know more about how I created this website check here <a href="http://167.172.16.83/posts/welcome!"> Welcome!</a> </p>

<p>Thanks!</p>

{% endblock %}
