{% extends "layout.html" %}
{% block content %}
<p> First off let me apologize for this website, I have written most of it from scratch or snibbets from the internet using
flask. All the code is up on my GitHub page if you want to see some truely hacked together code!</p>

<p>My name is Marcus Dallum, I am an IT Manager for <a href="https://www.involta.com/"> Involta LLC </a> and live in northern MN. My blog posts will mostly 
revolve around tech, there may be a sprinkle of some of my other interests. My goal for this blog is to improve my writing 
skills, get better at web/app development and maybe have a place to keep things I completely forget about! </p>

<p>Thanks!</p>

{% endblock %}
