<!doctype html>
<head>
<link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="header">
  <title>blog.dallum.net</title>
  <h1>Blog Dallum.net</h1>
  <p>Welcome to my page, I have been an IT manager for over 10 years, and this is my part of the Internet to speak my peace and hopfully help the rest of my fellow managers.</p>
</div>
  
<!-- Navigation Bar -->
<div class="navbar">
  <a href="/">Home</a>
  <a href="blog">Blog</a>
  <a href="links">Links</a>
  <a href="resume">Resume</a>
</div>

 <div class="content">{% block content %}You need to enter something dummy!!{% endblock %} </div>
 <div class="footer">
      {% block footer %}
      &copy; Copyright 2022 by <a href="http://www.theitmanager.com"> Marcus Dallum</a>.
      {% endblock %}
</div>


</body>
