<!doctype html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="header">
  <title>blog.dallum.net</title>
  <h1>Blog.Dallum.Net</h1>
  <p> Musings of a genX tech guy </p>
</div>
  
<!-- Navigation Bar -->
<div class="navbar">
  <a href="/">Home</a>
  <a href="/blog1">Blog</a>
  <a href="/links">Links</a>
  <a href="/resume">Resume</a>
</div>

 <div class="content">{% block content %}You need to enter something dummy!!{% endblock %} </div>
 <div class="footer">
      {% block footer %}
      &copy; Copyright 2024 by <a href="http://blog.dallum.net"> Marcus Dallum</a>.
      {% endblock %}
</div>


</body>
